<h2>Search Arthors</h2>
<form action="/authors" method="GET">
    <%- include('_form_fields') %>
    <button type="submit">Search</button>
</form>
<br />
<% authors.forEach(author => { %>
    <div><%= author.name %></div>
<% }) %>

    